#btn{
    margin: 8px 8px;
    padding: 5px 5px ;
}
#cover{
    display: flexbox;
    position: absolute;
    height: 40em;
    width: 100%;
    z-index: -1;
}
#blackbg{
    margin-top: 0rem;

        display: flexbox; 
        position: absolute;
      
        width: 100%;
        height: 600px;
        z-index: -2;
}
#greybg{
    margin-top: 2rem;

        display: flexbox; 
        position: absolute;
      
        width: 100%;
        height: 600px;
        z-index: -2;
}
#secbg{
    margin-top: 4rem;
    display: flexbox; 
    position: absolute;
  
    width: 100%;
    height: 500px;
    z-index: -2;

}
/* #greybg{
    display: flexbox;
        position: absolute;
        height: 48em;
        width: 100%;
        margin-top: 4rem;
        z-index: -2;
} */
#headline{
    margin-top: 1rem;

}
#secline{
    margin-top: 1rem;

}

#navbar{
    z-index: 2;
}

.container1{
    display:inline-block;
    padding-top: 70px;
    padding-left: 70px;
    color: whitesmoke;
    text-align: left;
        width: 30%;
   
}
/* .container2{
    position: relative;
} */
#search{
    
    padding: 20px;
    padding-left: 10px;
    display:block;
    justify-content: left;
    margin-left: 2.5rem;
   width: 30%;
}

.head{
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
}

.head2{
    color: black;
    text-align: center;
    justify-content: center;
    margin-top: 20rem;
    margin-bottom: 5rem;
}
.head3{
     justify-content: center;
    text-align: center;
    color: red;
    margin-top: 4rem;
    padding-top: 2rem;
    
}
#head4{
    /* position: absolute; */
    /* justify-content: center;
    text-align: center; */
    color: red;
    margin-top: 0rem;
    padding-top: 4rem;
    
}
#head5{
margin-top: 10rem;
}
.cardsec{

    display: flexbox;
   justify-content: center;
   text-align: center;
    margin-bottom: 2rem;
    
    
}
.container{
    width: 100%;
    

}
#c1{
    height: 12rem;
    width: 20rem;
    padding: 0rem 0rem;
}
#c2{
    height: 12rem;
    width: 20rem;
    padding: 0rem 0rem;
    
}
#c3{
    height: 12rem;
    width: 20rem;
    padding: 0rem 0rem;
    
}

#card1,#card2,#card3{
    height: 6rem;
    width: 6rem;
}

#m1,#m2,#m3,#m4{
    margin-top: 4rem;
    height: 16rem;
    width: 16rem;
}
#p1,#p2,#p3,#p4{
    display: flex;
    position: absolute;
    border: none;
    margin-left: 4rem;
    margin-right: 0.5rem;
    height: 2rem;
    width: 2rem;

}
.img-thumbnail{
    padding: 0px;
}
#s1,#s3,#s5,#s7,#s9{
  
    margin-top: 3rem;
    height: 16rem;
    transition-property: all;
    transition-duration: 0s;
    transition-timing-function: ease-in;
}
#s1:hover,#s3:hover,#s5:hover,#s7:hover,#s9:hover{
  
  border-radius: 2px;
  height: 21rem;

    
}
#s2,#s4,#s6,#s8{
    
    margin-top: 5.4rem;
    height: 16rem;
}
#s2:hover,#s4:hover,#s6:hover,#s8:hover{
    
    border-radius: 2px;
    height: 18rem;
  
      
  }
#rounded-img1,#rounded-img2,#rounded-img3,#rounded-img4,#rounded-img5{
    margin-top: 3rem;
    width: 12rem;
    height: 12rem;
   padding: 0px;
   margin-bottom: 1.2rem;
}
#rounded-img1:hover,#rounded-img2:hover,#rounded-img3:hover,#rounded-img4:hover,#rounded-img5:hover{
    margin-top: 3rem;
    width: 14rem;
    height: 14rem;
   padding: 0px;
   margin-bottom: 1.2rem;
}
.sec-h{
    color: whitesmoke;
   padding-top: 18rem;
   padding-left: 20rem;
  
}
#sec-btn{
   margin-left: 22rem;
   margin-top: 1rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;

}
.acc-1{
    margin-left: 20rem;
    margin-right: 20rem;
}
h6{
    color: black;
}
li{
    color: black;
    list-style: none;
}
.btns{
    width: 10rem;
    height: 5rem;
}
#social-media{
    height: 7.5rem;
    width: 7.5rem;
}